

h1 {
  color: red;
}
h3 {
  color: aqua;
}

body {
  margin: 0;
  padding: 0;
}

.floor {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: #858585;
  z-index: -2;
}

.back, .backOverlay {
  border-right:1px solid rgba(0, 0, 0, .125);
  position:absolute;
  top: 0;
  left: 0;
  right: calc(14.036%);
  bottom: 75%;
  background-color: #90b6de;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* z-index: -1; */
}

.backOverlay {
  background-color: transparent;
  z-index: 100001;
  border-right: none;
}

.back, .backOverlay > img {
  padding-top: 5%;
}

.function {
  margin-bottom: 3.5%;
}

.wall {
  position:absolute;
  right: 0;
  top: 0;

  width: 0;
  height: 0;

  border-bottom: 19.5vh solid transparent;
  border-left: 19.5vw solid transparent;
  border-right: 19.5vw solid #9abadb;
  border-top: 19.5vh solid #9abadb;
  z-index: -2;
}
