.catTemplate {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 4;
}

.catPelt {
  position: absolute;
  top: 10%;
  left: 10%;

  -webkit-mask-image: url(../img/CatMask.png);
  mask-image: url(../img/CatMask.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
}
