.cat {
  position: absolute;
}

.catTemplate {
  position: absolute;
  /* z-index: 4; */
}

.catPelt {
  position: absolute;

  -webkit-mask-image: url(../img/CatMask.png);
  mask-image: url(../img/CatMask.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
}
