:root {
    --primaryColor: blue;
    --accentColor: cyan;
    --darkColor: rgb(9, 9, 83);
}

.loginBackground {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background: var(--primaryColor);
    background: linear-gradient(
        0deg, 
        var(--darkColor) 0%,
        var(--accentColor) 100%);
    color: var(--darkColor);
}


h2 {
    color: black;
    text-align: center;
    font-weight: 450;
}


.loginContainer {
    font-family: 'Courier New', Courier, monospace;

    position:absolute;
    bottom:5%;
    top:5%;
    left:35%;
    right:35%;
    display: flex;
    height:auto;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-block: 1.1rem;
    gap: 1rem;

    color: var(--primaryColor);
    background-color: transparent;
    border: none;
    border-width: 9px;
    border-bottom: solid 2px var(--primaryColor);
    padding-inline: 0.2rem;
    padding-bottom: 0.1rem;
    font-weight: bold;
}

:focus  {
    outline: none;
}

.bottomForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    color:transparent;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright {
    color: var(--primaryColor);
    text-align: center;
}

.leader{
    position:absolute; top:0; right:0;
}

.loginLogo {
    margin: calc(133/217 * 14/133 * -35vw) 0px;
    width: 35vw;
    height: calc(133/217 * 35vw);
}

.loginHeader {
    font-weight: bold;
    margin: 65px 20px;
}

.loginLabel {
    margin: -22px 0px;
}