.adopt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20%;
}

.close_store {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20%;
}

.close_store img {
    display: block;
}

.gem_display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 95%;
    left: 22%;
}

.display_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50%;
}

#display_frame {
    position: absolute;
}
.lootbox {
    position: absolute;
}

.store_container {
    left: 5%;
    right: 5%;
    top: 15%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
